<center><a href="https://www.featuretools.com/"><img src="img/featuretools-logo.png" width="400" height="200" /></a></center>

<h2> A Featuretools Baseline </h2>
<p>The following tutorial illustrates a featuretools baseline model for the NYC Taxi Trip Duration competition on Kaggle. This notebook follows the structure of the previous worksheet, but uses deep feature synthesis to create the model.</p>

<h2>Step 1: Download raw data </h2>
<p>As always, if you have not yet downloaded the data it can be found at the <a href="https://www.kaggle.com/c/nyc-taxi-trip-duration/data">Kaggle website</a>. After installing featuretools following <a href = "https://docs.featuretools.com/">the instructions in the documentation</a> you can run the following.
</p>

In [1]:
import pandas as pd
import numpy as np
import featuretools as ft
import taxi_utils
ft.__version__

/home/ubuntu/venv/local/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

'0.1.16'

In [2]:
TRAIN_DIR = "data/train.csv"
TEST_DIR = "data/test.csv"

data_train, data_test = taxi_utils.read_data(TRAIN_DIR, TEST_DIR)

data_train.head(5)

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,1,-73.982155,40.767937,-73.964630,40.765602,False,455
1,id2377394,1,2016-06-12 00:43:35,1,-73.980415,40.738564,-73.999481,40.731152,False,663
2,id3858529,2,2016-01-19 11:35:24,1,-73.979027,40.763939,-74.005333,40.710087,False,2124
3,id3504673,2,2016-04-06 19:32:31,1,-74.010040,40.719971,-74.012268,40.706718,False,429
4,id2181028,2,2016-03-26 13:30:55,1,-73.973053,40.793209,-73.972923,40.782520,False,435

<h2>Step 2: Prepare the Data </h2>
<p>Let's create another column to define test and train datasets.</p>

In [3]:
data_train['test_data'] = False
data_test['test_data'] = True

<p>We can now combine the data. </p>

In [4]:
data = pd.concat([data_train, data_test])

<h2>Step 3: Create baseline features using DFS </h2>
<p>Instead of manually creating features, such as month of <b>pickup_datetime</b>, we can let featuretools come up with them. </p>

<p>Within featuretools there is a standard format for representing data that is used to set up predictions and build features. A <b>EntitySet</b> stores information about entities (database table), variables (columns in database tables), relationships, and the data itself. </p>

<p> First, we create the EntitySet.</p>

In [5]:
es = ft.EntitySet("taxi")

<p>We can then use the `entity_from_dataframe` method to add an Entity called <i>trips</i>. We want to track the `id`, the `time_index` and specify other types of variables we care about in this entity. </p>

<p>As a note: Featuretools will try to interpret the types of variables. We can override this interpretation by specifying the types. In this case, I wanted <b>passenger_count</b> to be a type of Ordinal, and <b>vendor_id</b> to be of type Categorical.</p>

In [6]:
from featuretools import variable_types as vtypes

trip_variable_types = {
    'passenger_count': vtypes.Ordinal, 
    'vendor_id': vtypes.Categorical,
}

es.entity_from_dataframe(entity_id="trips",
                         dataframe=data,
                         index="id",
                         time_index='pickup_datetime',
                         variable_types=trip_variable_types)

Entityset: taxi
  Entities:
    trips (shape = [2050266, 11])
  Relationships:
    No relationships

In [7]:
es['trips'].df

,dropoff_latitude,dropoff_longitude,id,passenger_count,pickup_datetime,pickup_latitude,pickup_longitude,store_and_fwd_flag,test_data,trip_duration,vendor_id
id,,,,,,,,,,,
id0190469,40.829182,-73.938828,id0190469,5,2016-01-01 00:00:17,40.719158,-73.981743,False,False,849.0,2
id0621643,40.769379,-73.969330,id0621643,2,2016-01-01 00:00:22,40.716881,-73.981850,False,True,NaN,2
id1384355,40.891788,-73.854263,id1384355,1,2016-01-01 00:00:28,40.733562,-73.976501,False,True,NaN,1
id1665586,40.717491,-73.958038,id1665586,1,2016-01-01 00:00:53,40.747166,-73.985085,False,False,1294.0,1
id1210365,40.815170,-73.947479,id1210365,5,2016-01-01 00:01:01,40.801041,-73.965279,False,False,408.0,2
id3888279,40.750340,-73.991341,id3888279,1,2016-01-01 00:01:14,40.751331,-73.982292,False,False,280.0,1
id0924227,40.742989,-73.989357,id0924227,1,2016-01-01 00:01:20,40.759800,-73.970108,False,False,736.0,1
id2568735,40.748665,-73.876602,id2568735,2,2016-01-01 00:01:24,40.759865,-73.972267,False,True,NaN,1
id2294362,40.847771,-73.936493,id2294362,1,2016-01-01 00:01:33,40.773891,-73.984993,False,False,712.0,2
id1078247,40.761734,-73.974854,id1078247,1,2016-01-01 00:01:37,40.764072,-73.973335,False,False,114.0,2
id3609443,40.816540,-73.953903,id3609443,2,2016-01-01 00:01:47,40.752632,-73.993103,False,False,1204.0,1
id3700764,40.782467,-73.953407,id3700764,1,2016-01-01 00:01:52,40.743782,-74.006363,False,True,NaN,1
id2914314,40.811611,-73.957489,id2914314,1,2016-01-01 00:02:06,40.735710,-73.985443,False,False,1310.0,2
id3675972,40.745468,-74.004669,id3675972,1,2016-01-01 00:02:45,40.741760,-73.993736,False,False,445.0,2
id3008929,40.733643,-74.001251,id3008929,1,2016-01-01 00:02:52,40.725105,-74.003464,False,True,NaN,1
id1340822,40.757187,-73.974464,id1340822,1,2016-01-01 00:03:00,40.764042,-73.973167,False,True,NaN,1
id0846101,40.688866,-73.983643,id0846101,1,2016-01-01 00:03:02,40.683376,-73.976860,False,False,263.0,2
id0566105,40.769188,-73.967201,id0566105,1,2016-01-01 00:03:31,40.739475,-74.006439,False,False,1384.0,2
id0372520,40.759445,-73.951576,id0372520,1,2016-01-01 00:03:35,40.757584,-73.969788,False,False,770.0,1
id0328287,40.764320,-73.958450,id0328287,2,2016-01-01 00:03:38,40.777416,-73.952110,False,True,NaN,1
id3968582,40.764782,-73.988556,id3968582,2,2016-01-01 00:04:42,40.740868,-73.993973,False,False,1071.0,1
id3266337,40.799690,-73.966019,id3266337,6,2016-01-01 00:04:57,40.791321,-73.964951,False,False,220.0,2
id2073829,40.744518,-73.998955,id2073829,1,2016-01-01 00:05:01,40.733627,-74.002586,False,True,NaN,1
id0664662,40.761066,-73.967690,id0664662,1,2016-01-01 00:05:02,40.790852,-73.969040,False,True,NaN,1
id2563820,40.770519,-73.968391,id2563820,1,2016-01-01 00:05:07,40.762810,-73.959511,False,False,287.0,2
id1901191,40.743450,-73.972511,id1901191,1,2016-01-01 00:05:12,40.718777,-73.988899,False,True,NaN,1
id2790343,40.736439,-74.001259,id2790343,1,2016-01-01 00:05:14,40.778793,-73.956131,False,True,NaN,2
id2335372,40.757893,-73.928085,id2335372,1,2016-01-01 00:05:18,40.737034,-73.990257,False,False,1318.0,2
id3956309,40.775665,-73.956535,id3956309,1,2016-01-01 00:05:35,40.748852,-73.990135,False,False,728.0,1
id0460928,40.720631,-73.997162,id0460928,3,2016-01-01 00:05:39,40.728661,-74.005318,False,False,468.0,2
...,...,...,...,...,...,...,...,...,...,...,...
id2008685,40.742123,-73.985405,id2008685,1,2016-06-30 23:57:25,40.732502,-74.000534,False,False,342.0,1
id3095932,40.697781,-73.933067,id3095932,1,2016-06-30 23:57:25,40.718529,-73.988434,False,False,1136.0,1
id3376065,40.782825,-73.950829,id3376065,1,2016-06-30 23:57:25,40.748161,-73.996346,False,True,NaN,1
id3674376,40.767735,-73.911179,id3674376,2,2016-06-30 23:57:49,40.769588,-73.863701,False,False,592.0,1
id3457080,40.756893,-73.975899,id3457080,1,2016-06-30 23:57:57,40.734917,-73.986801,False,True,NaN,2
id0113386,40.743923,-73.999184,id0113386,1,2016-06-30 23:57:58,40.767437,-73.970688,False,False,669.0,1
id1785039,40.693722,-73.950737,id1785039,1,2016-06-30 23:58:01,40.726372,-73.991707,False,False,1160.0,2
id1836461,40.774044,-73.936859,id1836461,1,2016-06-30 23:58:01,40.767292,-73.921104,False,True,NaN,1
id1276841,40.762093,-73.982277,id1276841,1,2016-06-30 23:58:02,40.776001,-73.957794,False,False,712.0,1
id3665810,40.753330,-73.974693,id3665810,1,2016-06-30 23:58:05,40.756908,-73.982773,False,True,NaN,2
id3012598,40.769695,-73.988182,id3012598,1,2016-06-30 23:58:25,40.732803,-74.003326,False,False,960.0,2
id3049611,40.723572,-74.003799,id3049611,2,2016-06-30 23:58:30,40.727077,-73.991631,False,False,463.0,1
id3024712,40.635712,-73.966591,id3024712,4,2016-06-30 23:58:32,40.678432,-73.968529,False,True,NaN,1
id3016059,40.748665,-73.972076,id3016059,1,2016-06-30 23:58:37,40.764622,-73.972694,False,False,621.0,2
id2105228,40.738224,-74.003548,id2105228,1,2016-06-30 23:58:38,40.755211,-73.979416,False,False,656.0,1
id1543102,40.761311,-73.979309,id1543102,1,2016-06-30 23:58:46,40.748760,-73.993179,False,True,NaN,2
id3952659,40.773579,-73.989288,id3952659,2,2016-06-30 23:58:47,40.750122,-73.991402,False,False,849.0,2
id1255468,40.757950,-73.969002,id1255468,1,2016-06-30 23:58:52,40.745289,-73.982750,False,False,472.0,2
id3905224,40.875214,-73.875618,id3905224,2,2016-06-30 23:58:55,40.730511,-73.992332,False,True,NaN,2
id0898117,40.719509,-73.986481,id0898117,2,2016-06-30 23:59:09,40.701527,-74.012711,False,True,NaN,1
id2013516,40.685802,-73.978203,id2013516,2,2016-06-30 23:59:09,40.689564,-73.955109,False,False,754.0,1
id1765014,40.717003,-73.952072,id1765014,1,2016-06-30 23:59:15,40.741550,-73.978310,False,True,NaN,1
id0668992,40.786549,-73.980515,id0668992,1,2016-06-30 23:59:30,40.749798,-73.991302,False,True,NaN,1
id1598245,40.755890,-73.961510,id1598245,1,2016-06-30 23:59:33,40.761475,-73.970215,False,True,NaN,1
id2332349,40.762470,-73.971779,id2332349,5,2016-06-30 23:59:37,40.722618,-73.998291,False,False,1442.0,2
id3719493,40.675968,-73.973160,id3719493,1,2016-06-30 23:59:39,40.791576,-73.978416,False,False,2609.0,2
id2150126,40.730469,-73.986427,id2150126,1,2016-06-30 23:59:41,40.771900,-73.956070,False,True,NaN,2
id1217141,40.729523,-73.986160,id1217141,1,2016-06-30 23:59:47,40.737583,-73.997437,False,True,NaN,1
id3505355,40.655403,-73.959808,id3505355,1,2016-06-30 23:59:53,40.679993,-73.964203,False,True,NaN,1
id3004672,40.756680,-73.990173,id3004672,1,2016-06-30 23:59:58,40.732029,-73.988129,False,True,NaN,1

<p>We can also normalize some of the columns to create new entities. So a <i>vendors</i> entity is created based on the unique values in the <i>vendor_id</i> column in <i>trips</i>.</p>

In [8]:
es.normalize_entity(base_entity_id="trips",
                    new_entity_id="vendors",
                    index="vendor_id")

es.normalize_entity(base_entity_id="trips",
                    new_entity_id="passenger_cnt",
                    index="passenger_count")

Entityset: taxi
  Entities:
    vendors (shape = [2, 2])
    trips (shape = [2050266, 11])
    passenger_cnt (shape = [8, 2])
  Relationships:
    trips.vendor_id -> vendors.vendor_id
    trips.passenger_count -> passenger_cnt.passenger_count

<p>We can specify the time for each instance of the target_entity to calculate features. The timestamp represents the last time data can be used for calculating features by DFS. This is specified using a dataframe of cutoff times. Below we can see that the cutoff time for each trip is the pickup time.</p>

In [9]:
cutoff_time = es['trips'].df[['id', 'pickup_datetime']]

<p>Given this dataset, we would have about 2 million unique cutoff times. This is a good use case to use the approximate features parameter of DFS. In a large dataset, direct features that are aggregations on the prediction entity may not change much from cutoff time to cutoff time. Calculating the aggregation features at specific times every hour and using it for all cutoff times within the hour would save time and perhaps not lose much information. The approximate parameter in DFS lets you specify a window size to use when approximating these direct aggregation features.</p>

<p>We now create features using DFS.</p>

<b>Note, we can use an already calculated feature_matrix by doing the following:</b>
<p>You must copy and run the code.</p>
```python
feature_matrix = pd.read_csv('https://s3.amazonaws.com/featuretools-static/nyc_taxi/fm_simple.csv', 
                             index_col='id')
features = feature_matrix.columns.values
```

In [10]:
from featuretools.primitives import (Day, Hour, Minute, Month, Weekday, Week, Weekend)

es.add_interesting_values()

trans_primitives = [Minute, Hour, Day, Week, Month, Weekday, Weekend]

feature_matrix, features = ft.dfs(entityset=es,
                                  target_entity="trips",
                                  trans_primitives=trans_primitives,
                                  drop_contains=['trips.test_data'],
                                  verbose=True,
                                  cutoff_time=cutoff_time,
                                  approximate='36d')

Building features: 188it [00:00, 9917.23it/s]
Progress: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6/6 [03:55<00:00, 39.29s/cutoff time]

<p>Here are the features created. Notice how some of the features match the manually created features in the previous notebook.</p>

In [11]:
print len(features)

96

In [12]:
features[:25]

[<Feature: store_and_fwd_flag>,
 <Feature: dropoff_longitude>,
 <Feature: test_data>,
 <Feature: pickup_longitude>,
 <Feature: trip_duration>,
 <Feature: vendor_id>,
 <Feature: passenger_count>,
 <Feature: pickup_latitude>,
 <Feature: dropoff_latitude>,
 <Feature: MONTH(pickup_datetime)>,
 <Feature: MINUTE(pickup_datetime)>,
 <Feature: HOUR(pickup_datetime)>,
 <Feature: DAY(pickup_datetime)>,
 <Feature: IS_WEEKEND(pickup_datetime)>,
 <Feature: WEEK(pickup_datetime)>,
 <Feature: WEEKDAY(pickup_datetime)>,
 <Feature: passenger_cnt.MAX(trips.pickup_longitude)>,
 <Feature: passenger_cnt.STD(trips.pickup_longitude)>,
 <Feature: passenger_cnt.SUM(trips.pickup_longitude)>,
 <Feature: vendors.SUM(trips.dropoff_longitude)>,
 <Feature: passenger_cnt.WEEKDAY(first_trips_time)>,
 <Feature: vendors.MAX(trips.pickup_longitude)>,
 <Feature: passenger_cnt.MAX(trips.dropoff_latitude)>,
 <Feature: passenger_cnt.MODE(trips.vendor_id)>,
 <Feature: vendors.WEEKDAY(first_trips_time)>]

<h2>Step 3: Build the Model </h2>

<p>We need to retrieve our labels for the train dataset, so we should merge our current feature matrix with the original dataset. </p>
<p>We also get the log of the trip duration so that a more linear relationship can be found.</p>

In [13]:
# separates the whole feature matrix into train data feature matrix, train data labels, and test data feature matrix 
X_train, labels, X_test = taxi_utils.get_train_test_fm(feature_matrix)
labels = np.log(labels.values + 1)

In [14]:
model = taxi_utils.train_xgb(X_train, labels)

[0]	train-rmse:5.00403	valid-rmse:5.00377
Multiple eval metrics have been passed: 'valid-rmse' will be used for early stopping.

Will train until valid-rmse hasn't improved in 60 rounds.
[10]	train-rmse:1.01317	valid-rmse:1.01429
[20]	train-rmse:0.595111	valid-rmse:0.598508
[30]	train-rmse:0.550728	valid-rmse:0.555082
[40]	train-rmse:0.519177	valid-rmse:0.524392
[50]	train-rmse:0.489201	valid-rmse:0.495522
[60]	train-rmse:0.47082	valid-rmse:0.478204
[70]	train-rmse:0.462427	valid-rmse:0.47082
[80]	train-rmse:0.453642	valid-rmse:0.462814
[90]	train-rmse:0.446342	valid-rmse:0.456236
[100]	train-rmse:0.444788	valid-rmse:0.455247
[110]	train-rmse:0.44277	valid-rmse:0.453643
[120]	train-rmse:0.435461	valid-rmse:0.44695
[130]	train-rmse:0.415849	valid-rmse:0.428293
[140]	train-rmse:0.412735	valid-rmse:0.425813
[150]	train-rmse:0.407197	valid-rmse:0.420897
[160]	train-rmse:0.406527	valid-rmse:0.420566
[170]	train-rmse:0.401259	valid-rmse:0.415712
[180]	train-rmse:0.397528	valid-rmse:0.412441
[190]	train-rmse:0.394133	valid-rmse:0.409538
[200]	train-rmse:0.391172	valid-rmse:0.407023
[210]	train-rmse:0.388434	valid-rmse:0.404854
[220]	train-rmse:0.386311	valid-rmse:0.403099
Modeling RMSLE 0.40196

<h2>Step 4: Make a Submission </h2>

In [15]:
submission = taxi_utils.predict_xgb(model, X_test)
submission.head(5)

           trip_duration
id
id0000002    1140.518677
id0000199    2268.834717
id0000446     790.147400
id0000587    1056.925415
id0000604     203.023926

In [16]:
submission.to_csv('trip_duration_ft_simple.csv', index=True, index_label='id')

<dt>This solution:</dt>
<dd>&nbsp; &nbsp; Received a score of 0.45288 on the Kaggle competition.</dd>
<dd>&nbsp; &nbsp; Placed 685 out of 1257.</dd>
<dd>&nbsp; &nbsp; Beat 45% of competitors on the Kaggle competition.</dd>
<dd>&nbsp; &nbsp; Scored 4% better than the baseline solution</dd>
<dd>&nbsp; &nbsp; Had a modeling RMSLE of 0.40196</dd>

December 27, 2017.

<h2>Additional Analysis</h2>
<p>Let's look at how important each feature was for the model.</p>

In [17]:
feature_names = X_train.columns.values
ft_importances = taxi_utils.feature_importances(model, feature_names)
ft_importances

                                         feature_name  importance
6                                    dropoff_latitude      7946.0
5                                     pickup_latitude      7674.0
2                                    pickup_longitude      7277.0
1                                   dropoff_longitude      7231.0
9                               HOUR(pickup_datetime)      3199.0
8                             MINUTE(pickup_datetime)      2735.0
72                               DAY(pickup_datetime)      2212.0
70                              WEEK(pickup_datetime)      1838.0
71                           WEEKDAY(pickup_datetime)      1446.0
77          passenger_cnt.STD(trips.pickup_longitude)       457.0
73                        IS_WEEKEND(pickup_datetime)       405.0
65             passenger_cnt.STD(trips.trip_duration)       404.0
18         passenger_cnt.MEAN(trips.dropoff_latitude)       373.0
13               vendors.MEAN(trips.dropoff_latitude)       352.0
54        passenger_cnt.MEAN(trips.dropoff_longitude)       349.0
75               vendors.SUM(trips.dropoff_longitude)       345.0
7                              MONTH(pickup_datetime)       336.0
59                 vendors.STD(trips.pickup_latitude)       329.0
23         passenger_cnt.MEAN(trips.pickup_longitude)       323.0
74          passenger_cnt.SUM(trips.pickup_longitude)       323.0
56         passenger_cnt.STD(trips.dropoff_longitude)       311.0
40           passenger_cnt.STD(trips.pickup_latitude)       305.0
38            passenger_cnt.MEAN(trips.trip_duration)       297.0
66  passenger_cnt.PERCENT_TRUE(trips.store_and_fwd...       293.0
52               vendors.STD(trips.dropoff_longitude)       270.0
46        passenger_cnt.SKEW(trips.dropoff_longitude)       249.0
19          passenger_cnt.STD(trips.dropoff_latitude)       245.0
20         passenger_cnt.SKEW(trips.pickup_longitude)       241.0
69              vendors.SKEW(trips.dropoff_longitude)       239.0
67          passenger_cnt.MAX(trips.pickup_longitude)       236.0
..                                                ...         ...
17               vendors.MIN(trips.dropoff_longitude)        50.0
32         passenger_cnt.SUM(trips.dropoff_longitude)        39.0
39                 vendors.SUM(trips.pickup_latitude)        29.0
60               vendors.MAX(trips.dropoff_longitude)        22.0
33                   vendors.SUM(trips.trip_duration)        20.0
27                passenger_cnt.MODE(trips.vendor_id)        20.0
62               passenger_cnt.HOUR(first_trips_time)        15.0
36                  vendors.MEAN(trips.trip_duration)        15.0
22          vendors.NUM_UNIQUE(trips.passenger_count)        15.0
12                         passenger_cnt.COUNT(trips)        12.0
47                vendors.MAX(trips.dropoff_latitude)         9.0
61                vendors.MIN(trips.dropoff_latitude)         6.0
58                vendors.SUM(trips.dropoff_latitude)         6.0
55                               vendors.COUNT(trips)         3.0
86                     vendors.WEEK(first_trips_time)         0.0
92                   vendors.MIN(trips.trip_duration)         0.0
91                   vendors.MINUTE(first_trips_time)         0.0
90                vendors.MODE(trips.passenger_count)         0.0
89                      vendors.DAY(first_trips_time)         0.0
88                   vendors.MAX(trips.trip_duration)         0.0
87                     vendors.HOUR(first_trips_time)         0.0
84          passenger_cnt.NUM_UNIQUE(trips.vendor_id)         0.0
85              passenger_cnt.MONTH(first_trips_time)         0.0
83                  vendors.SKEW(trips.trip_duration)         0.0
82                    vendors.MONTH(first_trips_time)         0.0
81               passenger_cnt.WEEK(first_trips_time)         0.0
80                passenger_cnt.DAY(first_trips_time)         0.0
79                  vendors.WEEKDAY(first_trips_time)         0.0
78            passenger_cnt.WEEKDAY(first_trips_time)         0.0
93            passenger_cnt.SKEW(trips.trip_duration)         0.0

[94 rows x 2 columns]